@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* SPARROW COLOR PALETTE */
/* BASE COLORS */
:root {
  --white: #fff;
  --body-background: #f0f4f5;
  --logo-background: #ffffffd0;
  --logo-text: #1f5765;
  --text-color: #1e3f48;
  --text-color-quarter-opacity: #1e3f4840;
  --text-color-half-opacity: #1e3f4880;
  --subtext-gray: rgba(30, 62, 71, 0.7);
  --cell-border: #e7edf1;
  --cell-border-focus: #d2dde4;
  --blue: #1589dc;
  --blue-half-opacity: #1589dc80;
  --link-blue: #279fc1;
  --link-blue-least-opacity: #279fc130;
  --link-blue-less-opacity: #279fc160;
  --link-blue-half-opacity: #279fc180;
  --input-focus-blue: #005c74;
  --button-blue: #45b9da;
  --button-blue-quarter-opacity: #45b9da40;
  --button-blue-hover: #67cce9;
  --accent-button-hover: #0b7e9e;
  --warning-red: #da4545;
  --warning: #ea6673;
  --warning-border: #ec8989;
  --required-border: #ffc2c2;
  --required-label: #db5e5e;
  --required-bg: #ffeded;
  --pill-bg:#50292910;
  --input-disabled-border: #c8d3d680;
  --input-disabled-bg: #c8d3d620;
  --input-disabled-txt: #21252980;
  --box-shadow-color: #1e3f4880;
  --border-color: #1e3f4815;
  --border-color-focus: #1e3f4850;
  --accent-bordercolor: #1e79a715;
  --form-hover: #1e3f480a;
  --tab-hover: #1e3f4810;
  --tr-hover: #1f3f4880;
  --container-hover: #1e3f48a0;
  --gray-out: #0d203440;
  --sidebar-background: #eaf2f9;
}

/* ACCENT COLORS */
:root {
  --accent-lightgray: #e3e7e8;
  --accent-gray: #1e3652a0;
  --accent-gray-less-opacity: #1e365280;
  --accent-gray-knob:#c7d0d6;
  --accent-mintgreen: #45da85;
  --accent-mintgreen-less-opacity: #45da8540;
  --accent-grassgreen: #1db35d;
  --accent-grassgreen-less-opacity: #1db35d40;
  --accent-turquoisegreen: #5be4b7;
  --accent-turqouisegreen-less-opacity: #5be4b780;
  --accent-jadegreen: #35c495;
  --accent-jadegreen-less-opacity: #35c49580;
  --accent-babyblue: #a8e0ef;
  --accent-skyblue-light: #e6eced;
  --accent-skyblue: #76c4eb;
  --accent-skyblue-less-opacity: #76c4ebF0;
  --accent-skyblue-dark: #37a6dd;
  --accent-seablue: #0087ad;
  --accent-seablue-less-opacity: #0087ad40;
  --accent-deepblue: #096694;
  --accent-deepbluegray: #36494d;
  --accent-red: #db5e5e;
  --accent-yellow: #ffde4a80;
  --accent-sunfloweryellow: #ffd700;
  --accent-dullyellow: #e2d384;
  --accent-background: #ffffffa0;
  --accent-overlay: #fafafa;
  --accent-searchbackground: #f8f8f8;
  --accent-suggestion-bg:#ffd4d480;
  --accent-proposition-bg:#ffff8880;
  --accent-suggestion-txt: #8e3b3b80;
  --accent-marigold: rgb(250, 197, 63);
}

/* FONT */
:root {
  --font-size-0: 0.8rem;
  --font-size-1: 1rem;
  --font-size-2: 1.4rem;
  --font-size-3: 1.8rem;
  --font-size-4: 2.3rem;
}

/* LAYOUT */
:root {
  --spacing-0: 4px;
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --spacing-5: 32px;
  --spacing-6: 36px;
  --spacing-7: 40px;
  --spacing-8: 44px;
  --page-width--content: 580px;
  --border-radius: 5px;
}

/* EFFECTS */
:root {
  --effects-gradient-blue: linear-gradient(135deg, var(--accent-skyblue), var(--accent-deepblue));
  --effects-gradient-white: linear-gradient(0deg, #ffffff, #ffffffc0 50%, #ffffff00);
  --effects-gradient-green: linear-gradient(35deg, #80e9ad, #5fcd8f);
  --effects-gradient-yellow: linear-gradient(35deg, rgb(255, 234, 101), var(--accent-marigold));
  --effects-gradient-paleblue: linear-gradient(135deg, #199dc12e, #0083a76b);
  --effects-gradient-palepurple: linear-gradient(135deg, #684eb12e, #684eb16b);
  --effects-radialgradient-pastelblue: radial-gradient(#fff 60%, #d0e0e7);
  --effects-radialgradient-pastelyellow: radial-gradient(rgba(255, 189, 45, 0.2), rgba(255, 204, 92, 0) 60%);
  --effects-radialgradient-pastelpink: radial-gradient(rgba(249, 94, 238, 0.15), rgba(249, 94, 238, 0) 60%);
  --effects-radialgradient-pastelpurple: radial-gradient(rgba(95, 79, 228, 0.15), rgba(95, 79, 228, 0) 60%);
  --effects-radialgradient-pastelpeach: radial-gradient(rgba(228,79,79,.2), rgba(228,79,79,.0) 60%);
  --box-shadow-large: 0px 10px 50px -20px var(--box-shadow-color);
  --box-shadow-medium: 0px 5px 20px -10px var(--box-shadow-color);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--text-color);
}

body {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  background: var(--body-background);
}

input, select, button {
  font-size: inherit;
  color: inherit;
}

a {
    color: var(--link-blue);
}

.blue {
  color: var(--blue);
}

.bold {
  font-weight: 600;
}

h1 {
  font-size: var(--font-size-4);
}

h1:first-child {
  margin-top: 0
}

h2 {
  font-size: var(--font-size-3);
}

h2:first-child {
  margin-top: 0px;
}

.bold {
  font-weight: 600;
}

button {
  background: var(--button-blue);
  border: none;
  border-radius: var(--border-radius);
  color: var(--white);
  font-size: 1.1em;
  padding: 10px 60px 8px 60px;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
}

button:disabled {
  -webkit-filter: saturate(0);
  pointer-events: none;
}

button.button--small {
  font-size: 1em;
  padding: 6px 20px 3px 20px;
}

button:hover {
  background: var(--button-blue-hover);
}

button:active {
  background: var(--button-blue);
}

button:focus {
  outline: none;
}

input {
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--border-radius);
  border: 1px solid var(--accent-skyblue-light);
}

input:focus {
  border: 1px solid var(--input-focus-blue);
  color: var(--input-focus-blue);
}

input:disabled {
  border: 1px solid var(--input-disabled-border);
  background: var(--input-disabled-bg);
  color: var(--text-color-half-opacity);
}

textarea {
  border: none;
  border-radius: 8px;
  width: 100%;
  border-color: var(--border-color);
}
